.jumbotron {
  padding-top: 9rem;
  background-color: #02c6c619;
}
#team {
  background-color: #02c6c619;
}
#contact {
  background-color: #02c6c619;
}
footer {
  background-color: #02c6c6;
}
section {
  padding-top: 5rem;
}
